/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --color-primary: #aaa;
    --color-primary-hover: #fff;
    --color-primary-tile: #bbb;
    --color-primary-subtle: #ccc;
    --color-secondary: #000;
    --text-color: #ccc;
    --font-rubik: 'Rubik', sans-serif;
}

/* Animación gradiente glow */
@keyframes gradient-shift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}


/* Rubik Font Family */
@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./app/assets/fonts/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


