/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


@theme {
    --color-primary: #aaa;
    --color-primary-hover: #fff;
    --color-primary-tile: #bbb;
    --color-primary-subtle: #ccc;
    --color-secondary: #000;
    --text-color: #ccc;
}